name: build-test
on: [push, workflow_dispatch]
jobs:
    check-if-docker-or-podman:
        runs-on: ubuntu-latest
        steps:
            - name: Check for docker or podman
              run: |
                if command -v docker compose version &> /dev/null
                then
                    docker compose version 
                    echo "Docker is installed."
                    echo "So we will use docker/docker-compose.yml."
                    echo "virtual=docker" >> $GITHUB_ENV

                elif command -v podman-compose version &> /dev/null
                then
                    podman-compose version
                    echo "Podman is installed."
                    echo "So we will use podman/podman-compose.yml."
                    echo "virtual=podman" >> $GITHUB_ENV
                else
                    echo "Neither Docker nor Podman is installed. Exiting."
                    exit 1
                fi
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Build and Test with Docker Compose
              if: env.virtual == 'docker'
              run: |
                echo "Using docker/docker-compose.yml"
            - name: Build and Test with Podman Compose
              if: env.virtual == 'podman'
              run: |
                echo "Using podman/podman-compose.yml"
            
             

            

              