name: build-test
on: [push]
jobs:
  check-for-docker-podman:
    runs-on: ubuntu-latest
    steps:
      - name: Check for docker or podman
        run: |
          if command -v docker &> /dev/null
          then
              echo "Docker is installed."
          elif command -v podman &> /dev/null
          then
              echo "Podman is installed."
          else
              echo "Neither Docker nor Podman is installed. Exiting."
              exit 1
          fi
