name: build-test
on: [push, workflow_dispatch]
jobs:
    check-for-docker-or-podman:
        runs-on: ubuntu-latest
        steps:
            - name: Check for docker or podman
              run: |
                if command -v docker compose version &> /dev/null
                then
                    echo "Docker is installed."
                    echo "So we will use docker/docker-compose.yml."

                elif command -v podman-compose version &> /dev/null
                then
                    echo "Podman is installed."
                    echo "So we will use podman/podman-compose.yml."
                else
                    echo "Neither Docker nor Podman is installed. Exiting."
                    exit 1
                fi
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Use docker
              